/* IMPORTED FONTS */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFOhCneDtsqEr0keqCMhbCc_OsbSkA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v6/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTOlOV.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFcWaA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCIPrE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 50px;
    background-color: #8EE4AF;
}

/* HEADINGS */

h1 {
    font-family: "Ubuntu Mono", monospace ;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-family: "JetBrains Mono", monospace ;
    margin: 3px;
}

h3 {
    font-family: Raleway, sans-serif;
    font-size: 16;
    text-align: left;
    text-decoration: underline;

}

/* SECTION */

section {
    border: 3px dotted palevioletred;
    margin: 10px;
}

/* COLOURS */

.colours {
    display: inline-block; 
    margin: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    font-family: "Ubuntu Mono";
    color: white;
    position: relative;
    
}

.colours p {
    margin: 40px auto;
    opacity: 50%;
}

#blue {  
    background-color: #05386B;
}

#teal {
    background-color: #379683;
}

#green { 
    background-color: #5CDB95;
    color: black;
}

#off-white {
    background-color: #EDF5E1;
    color: black;
}

/* FONTS */
.fonts {
    position: relative;
    display: inline-block;
    margin: 10px 50px;
}

#ubuntu-mono {
    font-family: "Ubuntu Mono";
}

#jetbrains {
    font-family: "JetBrains Mono";
}

#noto-serif {
    font-family: "Noto Serif";
}

.normal-font {
    font-style: normal;
 }

.bold-font {
   font-weight: bold;
}

.italics-font {
    font-style: italic;
}


/* TEXT STYLES */
.text-styles {
    margin: 15px;
}

.text-styles h1 {
    text-align: left;
}

.text-styles li {
    font-family: Raleway;
}